<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>基于Springboot的智慧云学堂</h1>

<video id="video" controls="controls" width="640px" height="480">
    你的浏览器貌似不支持video 元素 %>_<%
    <source src="/resources/video/你的名字3.mov" type="video/mp4">
</video>
<!--E:\CloudClassroom\src\main\webapp\testUpload\video\26f9e7bf-8471-4f0b-a76b-d18e394b4862_你的名字3.mov
E:\CloudClassroom\src\main\webapp\resources\video\[CYW][羞羞的铁拳][2017][国语中字][WEB-MP4-H264][4K][无水印][4.45G][转载标注出处][菜牙电影网].mp4
E:\CloudClassroom\src\main\webapp\repository\video\你的名字3.mov
-->
</body>
</html>